In [1]:
import pandas as pd
import numpy as np

In [4]:
nike_df = pd.read_csv('nike_reviews1.csv')

In [6]:
nike_df['sentiment'] = nike_df['ratings'].apply(lambda x: 0 if int(x) <= 3 else 1)

nike_df

,ratings,reviews,Whistleblower,sentiment
0,5,I like how they look,0.0,1
1,1,Shoes came USED & ABUSED!These shoes came out ...,0.0,0
2,1,I haven't worn these on a real regular basis b...,0.0,0
3,1,"I’m an Airmax fanatic, love the style and comf...",0.0,0
4,1,Don't pay retail for fake shoes. They are so u...,1.0,0
...,...,...,...,...
402,2,Not buying that no weonder it sells for less,0.0,0
403,5,These shoes fit perfect and are stunning!,0.0,1
404,5,He love it my husband,0.0,1
405,4,Great shoe,0.0,1
406,5,Arrived Fast and My hubby loved them!!!!!,0.0,1

In [2]:
facemask_df = pd.read_csv('facemask_reviews1.csv')

In [3]:
facemask_df['sentiment'] = facemask_df['rating'].apply(lambda x: 0 if int(x) <= 3 else 1)

facemask_df

,rating,reviews,Whistleblower,sentiment
0,5,This blackhead mask is very easy to be put on ...,0.0,1
1,5,"That is actually a good product, my fair and h...",0.0,1
2,5,I love blakchead mask. I use my hand to apply ...,0.0,1
3,5,Love this product!! For the price I would buy ...,0.0,1
4,5,I can always appreciate a peel off mask that d...,0.0,1
...,...,...,...,...
321,5,I really enjoyed the black mask. It pulled out...,0.0,1
322,5,I made a full face mask and it did tingle a li...,0.0,1
323,5,It's a great addition to my weekend spa day ro...,0.0,1
324,5,I only used it once and I’ll use it again. Aft...,0.0,1
325,1,"Do not use at all cost! Used one day, and had ...",0.0,0

In [4]:


facemask_df.to_csv('facemask_reviews_updated.csv')